.form-signin {
  background-color: white;
  width: 100%;
  max-width: 370px;
  padding: 40px;
  margin: auto;
}

a {
  color: black;
  transition: color 0.5s;
  text-decoration: none;
}

a:hover {
  color: darkgray;
}
